img{
    height: 200px;
    width: 300px;
    border-radius: 20px;
    
}
.main{
   border: 1px solid rgb(24, 1, 1); 
   display: grid;
   border-radius: 20px;
   place-items:center;
   padding: 10px;
  box-shadow: 5px 5px 5px  rgb(24, 30, 13);
  background-color: rgb(227, 227, 234);
  transition: all 2s ease;
}
 
#movie-div{
   display: grid;
   grid-template-columns: repeat(3,400px);
   gap:20px;
   margin: 10px;
   background-color:snow;
   border: 1px solid gainsboro;
   align-items: center;
}
p1{
    text-align: center;
}
.main:hover{
    transform: scale(1.3);
    background-color: rgb(109, 5, 5);
    color:rgb(244, 244, 236);  
    border:20pxl solid white;  
}
